@model IList<Articles.Web.Models.AdministrationViewModel>

<div class="row" style="margin-top:20px">
    <div class="col-md-12">
        <table class="table table-striped" style="background-color:white; border: inset">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Created on</th>
                    <th>Modified on</th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td style="word-break:break-word">@item.Author.UserName</td>
                    <td style="word-break:break-word">@item.Title</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModifiedOn</td>
                    <td><a href="Admin/Edit/@item.Id" class="btn btn-primary btn-xs">edit</a></td>
                    <td><a href="Admin/Details/@item.Id" class="btn btn-success btn-xs">details</a></td>
                    <td><a href="Admin/Delete/@item.Id" class="btn btn-danger btn-xs">delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>